#wpadminbar #wp-admin-bar-fhoke_settings a:before {
  width: 17px;
  height: 26px;
  content: "";
  opacity: 0.6;
  background: url("data: image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMi41NyA1MS43OCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogI2ZmZjsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHRpdGxlPmZob2tlLWxpZ2h0PC90aXRsZT4KICA8cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0zMi45MiwwLjY1SDIuMTVhMC44OSwwLjg5LDAsMCwwLS45Ljg5djUwYTAuOSwwLjksMCwwLDAsLjkuODlIMTQuMjlhMC44OSwwLjg5LDAsMCwwLC42My0wLjI2LDAuODYsMC44NiwwLDAsMCwuMjYtMC42M1YzMi40NGg2YTAuOTEsMC45MSwwLDAsMCwuNzMtMC4zOEwyOSwyMmEwLjg5LDAuODksMCwwLDAtLjczLTEuNDFIMTUuMTlWMTIuMzhIMzIuOTJhMC45LDAuOSwwLDAsMCwuNjMtMC4yNiwwLjg4LDAuODgsMCwwLDAsLjI2LTAuNjNWMS41NEEwLjksMC45LDAsMCwwLDMyLjkyLjY1WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEuMjUgLTAuNjUpIi8+Cjwvc3ZnPgo=")
    50% calc(50% + 3px) / 9px no-repeat !important;
  transition: none;
}
#wpadminbar #wp-admin-bar-fhoke_settings a:hover:before {
  opacity: 1;
  background-image: url("data: image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMi41NyA1MS43OCI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzA1YjllYjsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHRpdGxlPmZob2tlLWJsdWU8L3RpdGxlPgogIDxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTMyLjkyLDAuNjVIMi4xNWEwLjg5LDAuODksMCwwLDAtLjkuODl2NTBhMC45LDAuOSwwLDAsMCwuOS44OUgxNC4yOWEwLjg5LDAuODksMCwwLDAsLjYzLTAuMjYsMC44NiwwLjg2LDAsMCwwLC4yNi0wLjYzVjMyLjQ0aDZhMC45MSwwLjkxLDAsMCwwLC43My0wLjM4TDI5LDIyYTAuODksMC44OSwwLDAsMC0uNzMtMS40MUgxNS4xOVYxMi4zOEgzMi45MmEwLjksMC45LDAsMCwwLC42My0wLjI2LDAuODgsMC44OCwwLDAsMCwuMjYtMC42M1YxLjU0QTAuOSwwLjksMCwwLDAsMzIuOTIuNjVaIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMS4yNSAtMC42NSkiLz4KPC9zdmc+Cg==") !important;
}
.wp-admin #wpadminbar #wp-admin-bar-fhoke_settings a:before {
  height: 17px;
}
